*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-links {
   background-color: #999;
}
.nav-links li{
    display: inline-block;
    padding: 15px;
}
.nav-links li a{
    text-decoration: none;
}
.drop-item a{
    display: block;
    padding: 15px;
    
}
.drop-item{
    display: none;
    position: absolute;
    min-width: 200px;
    background-color: aqua;
    top: 48px;
}
.dropdown:hover .drop-item{
    display: block;
}
.dropdown{
    position: relative;
}
li a:hover, .dropdown:hover .drpbtn{
    background-color: blueviolet;
} 

.form input{
    width: 100%;
    margin: 8px 0px;

}
.form{
    width: 80%;
    margin: auto;
    padding: 15px;
}
.form-left, .form-right{
    width: 49%;
    float: left;
    padding: 15px;
}

