*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main{
    height: 250px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 600px;
    display: inline;
}

h1{
    color: gray;
    display: inline;
    font-size: 30px;
    font-weight: 600px;
    padding-left: 10px;
}

#head{
    margin-left:10px;
}

button{
    height: 30px;
    border-radius: 5px;
    width: 100px;
    margin-top: 20px;
    
    
}
 #btn1{
    background-color: blue;
    color: white;
    margin-left: 75px;
}
 #btn2{
    background-color: white;
}
#mid-text{
    display: block;
    color: gray;
    font-size: 30px;
    font-weight: 600px;
    padding-left: 10px;
    margin-left: 80px;
}

